<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Success</title>
	{% load staticfiles%}
	<link rel="stylesheet" href="{% static 'basic_survey/css/style.css'%}">
</head>
<body>
	<div class="wrapper">
		<div class="results">
		<p>Name: <span>{{ request.session.name }}</span></p>
		<p>Dojo Location: <span>{{request.session.location}}</span></p>
		<p>Favorite Language: <span>{{request.session.language}}</span></p>
		<p>Commment: <span>{{request.session.comment}}</span></p>
		<a href="/" class="right"><button>Go Back</button></a>
		</div>
	</div>
</body>
</html>